* {
  all: unset;
}

window {
  background-color: #000000;
  border-bottom: 0px solid #ff0000;
  border-radius: 10px;
  padding-bottom: 10px;

  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}


.date-label {
  font-family: "DS\-Digital";
  font-size:   25px;
  color:       #ffffff;
  padding: 0px;
  -webkit-text-stroke: 0px #000;
    padding-bottom: 10px;

}
.clock-label {
  font-family: "DS\-Digital";
  font-size:   85px;
  font-weight: bolder;
  color:       #ffffff;
  padding: 10px;
  -webkit-text-stroke: 0px #F4DEB7;
}

.main-image {
  padding: 20px;
  
}

