/* Waybar Style Sheet */

/* Global */
* {
    border: none;
    border-radius: 0;
    font-family: "Hack","unifont"; 
    font-size: 11px;
    min-height: 0px;
}

window#waybar {
    background: rgba(0, 0, 0, 1); 
    color: #ffffff; 
}

/* Base Module Styling */
#waybar.hidden {
    opacity: 1;
}

.modules-left > widget:first-child > #custom-launcher {
    margin-left: 0px;
}

.modules-right > widget:last-child > #battery {
    margin-right: 0px;
}

/* Module Specific Styling */

#custom-notification,
#custom-launcher,
#custom-text1,
#custom-text2,
#workspaces,
#hyprland-window,
#mpris,
#pulseaudio,
#backlight,
#bluetooth,
#network,
#battery {
    padding: 0 0px;
    margin: 0 0px;
    border-radius: 1px;
}

/* Left Modules */
#custom-launcher {
    color: #000000; 
    background-color: #ff0000;
    border-bottom: 8px solid rgba(0, 0, 0, 0) ;
    border-top: 8px solid rgba(0, 0, 0, 0) ;
}

#custom-power {
    font-size: 11;
    color: #000000; 
    background-color: #ffffff;
    border-bottom: 8px solid rgba(0, 0, 0, 0) ;
    border-top: 8px solid rgba(0, 0, 0, 0) ;
    border-radius: 0px;
}

#workspaces button.active {
     border: 0px solid #ffffff;
     color: #ffffff;
}


#custom-text2,
#custom-text1 {
    color: #ffffff; /* Orange for custom text modules */
}

#hyprland-window {
    color: #ffffff; /* Purple for window title */
    font-weight: bold;
}

/* Center Modules */
#mpris {
    color: #000000; 
    background-color: #ffffff;
    border-bottom: 8px solid rgba(0, 0, 0, 0) ;
    border-top: 8px solid rgba(0, 0, 0, 0) ;
    font-size: 11;
}

#mpris.paused {
    font-size: 11;
}

/* Right Modules */
#pulseaudio {
    color: #ffffff; /* Pink for audio */
}

#pulseaudio.muted {
    color: #000000; 
    background-color: #ffffff;
    border-bottom: 8px solid rgba(0, 0, 0, 0) ;
    border-top: 8px solid rgba(0, 0, 0, 0) ;
}

#backlight {
    color: #ffffff; 
}

#bluetooth {
    color: #ffffff; /* Cyan for Bluetooth */
}

#bluetooth.connected {
    color: #ffffff; /* Green when connected */
}

#network {
    color: #ffffff; /* Magenta for network */
}

#network.disconnected {
    color: #ffffff; /* Lighter pink when disconnected */
}

#battery {
    color: #ffffff; /* Lavender for battery */
}

#battery.charging {
    color: #000000;
    background-color: #2fff00;
    border-bottom: 8px solid rgba(0, 0, 0, 0) ;
    border-top: 8px solid rgba(0, 0, 0, 0) ;
}

#battery.warning {
    color: #000000;
    background-color: #ff00d0;
    border-bottom: 8px solid rgba(0, 0, 0, 0) ;
    border-top: 8px solid rgba(0, 0, 0, 0) ;
}

#battery.critical {
    color: #ff0048; 
    background-color: #ff0000;
    border-bottom: 8px solid rgba(0, 0, 0, 0) ;
    border-top: 8px solid rgba(0, 0, 0, 0) ;
}


/* Tooltips */
tooltip {
    background: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 10px 15px;
}

tooltip label {
    color: #ffffff;
            font-size: 18px;

}
