/* --- VARIABLES (Theme Configuration) --- */
$bg-off: null;
$bg-blur: rgba(30, 30, 46, 0.7);
$bg-color: #1e1e2e;           /* Dark Background */
$fg-color: #cdd6f4;           /* Main Text */
$accent-color: #89b4fa;       /* Blue Accent (Clock/Highlight) */
$secondary-color: #a6e3a1;    /* Green Accent (Date) */
$muted-color: #6c7086;        /* Grey Text */
$hover-bg: rgba(255, 255, 255, 0.1);
$border-radius: 24px;
$font : Hack Nerd Font;
$font1 : Unifont;

/* --- GLOBAL RESET --- */
* {
  all: unset; /* Remove default GTK styling */
  font-weight: bold;
  background-color: $bg-off;
}

.main-container {
  background-color: $bg-blur;
  border: 2px solid $fg-color;
  border-radius: 24px;
}

.time-container {
  padding-left: 10px;
  padding-bottom: 5px;
  font-family: $font1;
  font-size:   44px;
  font-weight: bold;
  color:   $fg-color;
}

/* --- Shortut Button Styles --- */
.shortcuts-row {
  padding-right: 10px;
}
.app-btn {
  border-radius: 15px;
  padding: 5px;
  transition: all 200ms ease-in-out;
}

/* HOVER STATE: The "Glow" */
.app-btn:hover {
  background: rgba(137, 180, 250, 0.4);
  box-shadow: 0 0 15px 0px rgba(137, 180, 250, 0.9);
}

.app-btn:focus {
  background: rgba(250, 137, 242, 0.4);
  box-shadow: 0 0 15px 0px rgba(250, 137, 242, 0.9);
}

/* CLICK / FOCUS STATE: Intense Glow */
.app-btn:active {
  box-shadow: 0 0 25px 5px rgba(137, 180, 250, 0.6);
  transition: all 50ms; /* Fast snap when clicking */
}
